<%= form_with(model: post, local: true) do |form| %>
  <div class="container">
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="well">
      <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.text_field :title, placeholder: "Post Title", class: "form-control" %>
        <%= form.text_area :blog_entry, placeholder: "Type here...", class: "form-control" %>
        <%= form.submit class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
