<%= form_with(model: post, local: true) do |form| %>
  <div class="container">
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="well">
      <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.text_field :title, placeholder: "Post Title", class: "form-control" %>
        <%= form.text_area :blog_entry, placeholder: "Type here...", class: "form-control" %>
          <% if post.picture.url != nil %>
            <div class="well">
              <%= render 'with_picture', :post => post %>
              <a href="#" class="btn btn-warning">Replace</a>
              <a href="#" class="btn btn-danger">Remove</a>
            </div>
          <% else %>
          <div class="form-group">
            <strong>Add a picture:</strong>
            <%= form.file_field :picture, class: "form-control" %>
          </div>
          <% end %>
        <%= form.submit class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
